body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrap {
    width: 400px;
    padding: 0;
    background-color: #000;
    
}
.row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.screen {
    width: 100%;
    height: 85px;
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:last-child{
    background-color: orange;
    color: #fff;
}

.calc-button:last-child:hover {
    background-color: #dfb07e;
  }
  
.calc-button:last-child:active {
    background-color: #dd8d37;
  }

.calc-button:hover {
    background-color: #ebebeb;
  }
  
.calc-button:active {
    background-color: #bbbcbe;
  }

.button-clear {
    width: 49.7%;
}

.button-zero {
    width: 74.8%;
}